<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.welcome.WelcomeActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Welcome">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.navigation.NavigationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.setting.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.localmusic.LocalMusicActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.favorite.FavoriteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.browser.musiclist.MusicListBrowserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.browser.artist.ArtistBrowserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.browser.album.AlbumBrowserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.history.HistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.detail.musiclist.MusicListDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.detail.artist.ArtistDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.detail.album.AlbumDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.multichoice.MusicMultiChoiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.search.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.player.PlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="snow.player.ui.equalizer.EqualizerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EqualizerTheme" />

        <service
            android:name=".service.AppPlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>